<!DOCTYPE html>
<html>
<head>
  <title>TMC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='bg'>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href='/'>
      <div class="container">
          <%= image_tag "logo2.svg", :class => 'logo', :width=> "10%", :height => "5%" %>
          The Music Connection
      </div>
    </a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <br>
  <br>
</body>
</html>
